body {
  background-image: url(../img/darkness.png);
  font-family: 'Ubuntu', sans-serif;
}

.logo a {
  color: #ffffff;
}

.logo a:hover,
.logo a:active {
  color: rgba(255, 255, 255,0.9);
  text-decoration: none;
}